// Button

.btn {
  border: none;
  background: none;
  padding: 0;
  &--light {
    border: solid 2px #38a66a;
    padding: 15px 30px;
    border-radius: 30px;
  }
  &__close {
    border: none;
    background: none;
    font-size: 30px;
  }
  &__planter {
    position: absolute;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 30px;
    border-radius: 37px;
    background: #38a66a;
    font-size: 30px;
    color: #fff;
    border: none;
    &--full {
      background: gray;
    }
  }
  &__tuto {
    background: #38a66a;
    color: #fff;
    border-radius: 25px;
    padding: 10px 30px;
    font-family: 'Montserrat';
    font-size: $font-size-small;
    &--center {
      //position: absolute;
      width: 103px;
      //bottom: 0;
      //left: 50%;
      //transform: translate(-50%);
    }
  }
  &__return {
    position: absolute;
    top: 60px;
    left: 68px;
    height: 67px;
    width: 67px;
    background: url('../img/icon/return.png')no-repeat;
    background-size: contain;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
}