// configuration

// titres

.title {
  font-family: 'Montserrat', sans-serif;
  color: #28453c;
  margin: 0;
  font-size: $title-base;
  &--big {
    font-size: $title-big;
  }
  &--small {
    font-size: $title-small;
  }
  &--center {
    text-align: center;
  }
  &--light {
    font-weight: 300;
  }

  &__plantation {
    padding-top: 30px;
    margin-bottom: 50px;

  }
}

// textes

.text {
  font-family: 'Libre Baskerville';
  color: #28453c;
  font-size: $font-size-medium;
  &--italic {
    font-style: italic;
  }
  &--light {
    font-weight: 300;
  }
  &--center {
    text-align: center;
  }
}

// normalize

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  //color: white;
}

// layout

.col {
  width: 45%;
  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
  &--center {
    margin: 0 auto;
  }
}

.container {
  width: 90%;
  //display: flex;
  //flex-direction: column;
  margin: 0 auto;
  &--center {
    height: 100vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;

  }
}