// layout

body {
  position: relative;
  margin: 0;
  background: #fff;
}

.homeBody {
  background: url('../img/fond-potager-feuille1-bottom.png') no-repeat bottom right 2%,
  url('../img/fond-potager-feuille2-bottom.png') no-repeat bottom right 8.8%,
  url('../img/fond-potager-bottom.png') no-repeat bottom right, #fff;
  background-size: 12.8%, 11%, 65%;
  overflow: hidden;
  height: 100vh;
}




// hamburger
$duration : .7s;

.hamb {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  & span {
    background: #3c6a48;
    height: 7px;
    position: absolute;
    right: 0;
    transition: .25s ease-in-out;
    &:first-child {
      width: 65px;
      top: 0;
      transition-delay: .5s;
      &.open {
        width: 0%;
        transition-delay: 0s;
      }
    }
    &:nth-child(2) {
      width: 33px;
      top: 17px;
      transition-delay: .625s;
      &.open {
        width: 0%;
        transition-delay: .125s;
      }
    }
    &:nth-child(3) {
      width: 52px;
      top: 34px;
      transition-delay: .75s;
      &.open {
        width: 0%;
        transition-delay: 0.25s;
      }
    }
  }
}

.cross {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
  z-index: 2;
  span {
    &:nth-child(1) {
      background: #3c6a48;
      height: 0%;
      width: 7px;
      position: absolute;
      top: -14px;
      right: 23px;
      transition: .25s ease-in-out;
      transition-delay: 0s;
      &.open {
        height: 52px;
        transition-delay: .625s;
      }
    }
    &:nth-child(2) {
      background: #3c6a48;
      width: 0%;
      height: 7px;
      position: absolute;
      right: 0;
      top: 8px;
      transition: .25s ease-in-out;
      transition-delay: .25s;
      z-index: 1;
      &.open {
        width: 52px;
        transition-delay: .375s;
      }
    }
  }
}

.menu {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 65px;
  height: 50px;
}


// nav
.nav {
  display: none;
  width: 100vw;
  height: 100vh;
  &.open {
    display: block;
  }
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 1;
  background: url('../img/fond-nav-feuille-bottom.png') no-repeat bottom right,
  url('../img/fond-nav-bottom.png') no-repeat bottom right,
  url('../img/fond-nav-feuille-top.png') no-repeat top left 4%,
  url('../img/fond-nav-top.png') no-repeat top left, #fff;
  background-size: 20%, 72%, 17%, 81%;
  &__list {
    margin: 80px auto 0;
    &.open {
      display: block;
    }
    &.close {
      display:none;
    }
  }
  &__el {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    font-size: 60px;
    color: #1d1d1b;
    text-decoration: none;

  }
}

// météo

.meteo__container {
  position: absolute;
  left: 136px;
  top: 0;
  //width: 700px;
  height: 200px;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  //align-content: space-around;
  //flex-wrap: wrap;
  font-family: 'Montserrat';
  font-size: 48px;
  

  div {
    display: flex;
    //align-items: center;
    color: #1f3329;
    padding-right: 90px;
    height: 90px;

    img {
      height: 55px;
      padding-right: 30px;
    }
  }
  &--howdry {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .meteo--howdry {
      font-size: 18px;
    }
    .meteo--alert {
     // font-size: 30px;
    }
  }
  &--time {
    flex-direction: column;
    align-items: center;

    .meteo--date {
      font-size: 24px;
    }
  }
}

.bold {
  font-weight: bold;
}

// potager

.potager {
  width: 100vw;
  height: 100vh;
  z-index: -1;
  &__list {
    display: block;
    position: absolute;
    top: 227px;
    left: 50%;
    transform: translateX(-50%);
    width: 1094px;
    height: 668px;
    background: url('../img/potager-parcelle-fond.png') no-repeat;
    background-size: cover;
  }
  &__el {
    position: absolute;
    box-sizing: border-box;
    padding: 10px 30px;
    &:first-child {
      top:2px;
      right: 360px;

    }
    &:nth-child(2) {
      top: 80px;
      right: 206px;
      transform: rotate(14deg);
    }
    &:nth-child(3) {
      top: 175px;
      right: 105px;
    }
    &:nth-child(4){
      top: 143px;
      left: 350px;
      transform: rotate(-5deg);
    }
    &:nth-child(5) {
      top: 226px;
      left: 472px;
    }
    &:nth-child(6) {
      top: 289px;
      right: 331px;
      transform: rotate(14deg);
    }
    &:nth-child(7) {
      top: 318px;
      left: 55px;
      transform: rotate(-6.5deg);
    }
    &:nth-child(8) {
      top: 331px;
      left: 233px;
    }
    &:last-child {
      bottom: 159px;
      left: 340px;
      padding: 0 30px 20px 30px;
      transform: rotate(5deg);
    }
  }
  &__link {
    color: #000;
    width: 50px;
    height: 50px;
    display: block;

    img {
      width: 100%;
    }
  }
}

.parcelle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,0,.6);
  &__list {
    width: 80%;
    height: 80%;
    border-radius: 30px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 8px 8px 12px rgba(0,0,0, .4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__el {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    background: #9c7367;
    margin: 50px 50px 0 50px;
  }
  &__link {

  }
  &__btn {
    position: absolute;
    top: 127px;
    left: 157px;
    z-index: 2;
  }
}
