// layout

body {
  position: relative;
  margin: 0;
}

.homeBody {
  background: url('../img/fond-potager-feuille1-bottom.png') no-repeat bottom right 2%,
  url('../img/fond-potager-feuille2-bottom.png') no-repeat bottom right 8.8%,
  url('../img/fond-potager-bottom.png') no-repeat bottom right, #fff;
  background-size: 12.8%, 11%, 65%;
  overflow: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
}


// hamburger
$duration : .7s;
.hamb {
  float: right;
  position: relative;
  height: 50px;
  margin-top: 50px;
  margin-right: 50px;
  width: 65px;
  z-index: 2;
  &__bar {
    width: 52px;
    height: 7px;
    margin-bottom: 10px;
    background: #3c6a48;
    position: absolute;
    top: 34px;
    right: 0;
    &.open {
      animation: hambBar3Anim $duration linear forwards;
    }
    &.close {
      animation: hambBar3Anim $duration linear reverse forwards;
    }
  }
  &__bar--small {
    width: 33px;
    height: 7px;
    margin-bottom: 10px;
    background: #3c6a48;
    position: absolute;
    top: 17px;
    right: 0;
    &.open {
      animation: hambBar2Anim $duration linear forwards;
    }
    &.close {
      animation: hambBar2Anim $duration linear reverse forwards;
    }
  }
  &__bar--big {
    width: 65px;
    height: 7px;
    margin-bottom: 10px;
    background: #3c6a48;
    position: absolute;
    top: 0;
    right: 0;
    &.open {
      animation: hambBar1Anim $duration linear forwards;
    }
    &.close {
      animation: hambBar1Anim $duration linear reverse forwards;
    }
  }
}

// animations

@keyframes hambBar1Anim {
  0% {width: 65px}
  25% {width: 7px; transform: translateX(-25px)}
  50% {width: 7px; transform: translate(-25px, 17px)}
  75% {width: 65px; transform: translateY(17px)}
  100% {width: 65px; transform: translateY(17px) rotate(45deg)}
}

@keyframes hambBar2Anim {
  0% {width: 33px}
  25% {width: 7px; transform: translateX(-25px)}
  50% {width: 7px; transform: translateX(-25px)}
  75% {width: 65px; transform: translateX(0)}
  100% {width: 65px; transform: translateX(0) rotate(135deg)}
}

@keyframes hambBar3Anim {
  0% {width: 52px}
  25% {width: 7px; transform: translateX(-25px)}
  50% {width: 7px; transform: translate(-25px, -17px)}
  75% {width: 65px; transform: translateY(-17px)}
  100% {width: 65px; transform: translateY(-17px) rotate(45deg)}
}

@keyframes navAnimation {
  0% {width: 0; height: 0}
  100% {width: 100vw; height: 100vh}
}



// nav
.nav {
  width: 0;
  height: 0;
  &.open {
    animation: navAnimation $duration/2 linear forwards;
    animation-delay: $duration/2;
  }
  &.close {
    animation: navAnimation 0.750s linear reverse forwards;
  }
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  z-index: -1;
  background: url('../img/fond-nav-feuille-bottom.png') no-repeat bottom right,
  url('../img/fond-nav-bottom.png') no-repeat bottom right,
  url('../img/fond-nav-feuille-top.png') no-repeat top left 4%,
  url('../img/fond-nav-top.png') no-repeat top left, #fff;
  background-size: 20%, 72%, 17%, 81%;
  &__list {
    list-style: none;
    //display: none;
    padding: 0;
    margin: 80px auto 0;
    &.open {
      display: block;
    }
    &.close {
      display:none;
    }
  }
  &__el {
    margin-bottom: 40px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__link {
    font-size: 60px;
    color: #1d1d1b;

  }
}

// potager

.potager {
  width: 100vw;
  height: 100vh;
  &__list {
    display: block;
    padding: 0;
    margin: 0;
  }
  &__el {
    list-style: none;
  }
  &__link {

  }
  &__btn {
    margin: 0;
    width: 180px;
    height: 74px;
    border-radius: 37px;
    border: none;
    background: #38a66a;
    font-size: 30px;
    color: #fff;
  }
}
