// maladies

.maladieBody {
  background: url('../img/feuille.png') no-repeat bottom -12% left -6%,
  url('../img/fond-info-feuille2.png') no-repeat bottom left 8.7%,
  url('../img/maladie-fond.png') no-repeat bottom left, #fff;
  background-size: 15%, 9%, 100%;
  height: 100vh;
}

.maladie {
  padding: 40px 0 0 50px;
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;

  &__list {
    height: 380px;
    padding: 175px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  &__el a {
    color: #28453c;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Montserrat';
  }
}