// plantation page

.plantation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 424px;
  width: 100%;
  overflow: scroll;
  &__list {
    //margin: 0 30px;
    height: 100%;
    width: 2260px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
  }
  &__el {
    float: left;
    width: 250px;
    padding: 15px;
    height: 100%;
    margin: auto;
    &.active {
      background: red;
    }
  }
  &__img {
    height: 247px;
  }
  &__link {
    position: absolute;
    bottom: 45px;
    left: 82px;
    color: #3c6a48;
    font-size: $font-size-medium;
    font-family: 'Montserrat';
  }

}