// plantation page

.plantation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 527px;
  width: 100%;
  overflow: scroll;
  &__list {
    margin: 0 30px;
    height: 100%;
    width: 2260px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
  }
  &__el {
    float: left;
    width: 300px;
    height: 100%;
    margin: auto;
    .active {
      background: #9c7367;
    }
  }
  &__img {
    width: 495px;
    height: 495px;
    background: red;
  }

}