// plantation page

.envies {
  position: absolute;
  bottom: 0;
}

.plantation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;

  &--big {
    height: 500px;
  }
  &__list {
    height: 100%;
    display: flex;
    //flex-wrap: nowrap;
  }
  &__el {
    position: relative;
    min-width: 250px;

    padding: 0 30px;
    margin: auto 30px;
    &.active {
      background: #edebe1;
    }
  }
  &__img {
    height: 247px;
  }
  &__link {
    position: absolute;
    bottom: 45px;
    left: 82px;
    color: #3c6a48;
    font-size: $font-size-medium;
    font-family: 'Montserrat';
  }

}