
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: "Libre Baskerville";
  src: url('../fonts/LibreBaskerville-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url('../fonts/LibreBaskerville-Italic.ttf');
  font-style: italic;
}

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Page d'accueil

@import 'configBorne';

@import 'home';

@import 'plantation';

@import 'tuto';

@import 'maladie';

@import 'seeds';

@import 'btnApp';




.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  display: none;
}

.py-4 {
  //display: none;

}

body {
    //background: rgba(255, 255, 255, .8);
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.hide {
  display: none;
}

td {
  width: 200px;
}

.search {
  &__container {
    position: absolute;
    top: 111px;
    right: 69px;
    &--lower {
      top: 140px;
    }
    form {
      display: inline-block;
      background: none;
      border-bottom: 2px solid #3c6a48;

    }
    input {
      height: 50px;
      padding: 0;
      padding-left: 10px;
      box-sizing: border-box;
      border: 0;
      background: none;
      font-family: 'Montserrat';
      font-size: 16px;

    }
  }
  &__btn {

    height: 36px;
    width: 36px;
    background: url('../img/icon/search.png') no-repeat center;
    background-size: 60%;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;

  }
  &__icon {

  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 667px;
  &__list {
    position: relative;
    width: 750px;
  }
  &__el {
    display: none;
    &.active {
      display: block;
    }
  }
  &__btn {
    width: 67px;
    height: 67px;
    padding: 0;
    background: url('../img/icon/return.png') no-repeat center;
    background-size: cover;
    border: none;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    &--right {
      transform: rotate(180deg);
    }
  }
}
