
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
  font-family: "Montserrat";
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: "Libre Baskerville";
  src: url('../fonts/LibreBaskerville-Regular.ttf');
  font-style: normal;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url('../fonts/LibreBaskerville-Italic.ttf');
  font-style: italic;
}

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

// Page d'accueil

@import 'configBorne';

@import 'home';

@import 'plantation';

@import 'tuto';

@import 'btnApp';




.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  display: none;
}

.py-4 {
  //display: none;

}

body {
    //background: rgba(255, 255, 255, .8);
    //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.hide {
  display: none;
}

td {
  width: 200px;
}

.seeds {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;

  &__unit {
    display: flex;
    height: 300px;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, .5);
    flex: 1 300px;
    margin: 2%;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, .3) 2px 2px 2px;

    ul {
      list-style: none;
      padding: 0;
    }
  }
}