
// Fonts
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:500,600');

// Variables
@import 'variables';



.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  display: none;
}

* {
  padding: 0;
  margin: 0;
}


/*   HEADINGS  */

h3 {
  margin: 70px 0 40px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
}

h2{
  position: absolute;
  top: 460px;
  left: 190px;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  font-weight: 600;
  z-index: 0;
}


body {
  width: 375px;
  color: #3e6949;
  font-size: 18px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
}

.site__header {
  height: 100vh;

  a {
    padding: 0 10px;
    width: 35px;
    height: 30px;
  }
}

.site__header .button__header{
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  position: fixed;
  width: 100vw;
}

.site__header .button__menu{

}

.site__header .button__menu img{
  width: 100%;
}


.site__header .logo img{
  //position: absolute;
  //width: 15%;
  top: 20px;
  left: 10px;
}

nav {
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  display: none;
  position: absolute;
  transition: opacity 0.5;
}

nav ul li {
  margin: 0 0 50px 0;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #3e6949;
  font-size: 22px;

}

nav.open {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
}

nav.close {
  opacity: 0;
}

h2 .hide{
  display: none;
}


section {
  padding: 0 20px 0 20px;
}

.landing{
  z-index: -1;
  position: absolute;
  top:0;
  background-image: url('../img/landing_banner.jpg');
  background-position-x: -415px;
  width: 100%;
  height: 100vh;
}

.concept:after{
  content: '';
  background: url('../img/seeds.jpg');
  background-size: cover;
  display: block;
  height: 300px;
  width: 100vw;
  left: -20px;
  position: relative;
}

.membre:after{
  content: '';
  background: url('../img/hand_seed.jpg');
  background-size: cover;
  background-position-x: -150px;
  display: block;
  height: 300px;
  width: 100vw;
  left: -20px;
  position: relative;
}

  .concept ul li{
    list-style: none;
    margin-left:15px;
    margin-bottom: 30px;
  }

  .concept ul li:before{
    content:'_';
    margin-left:-15px;
  }


.slider {
  position: relative;
  height: 500px;
  background-color: #7fc490;
  margin: 35px 0;
}

.slider .slide {

  position: absolute;
}

.slider .controls {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: center;
}

.slider .prev {
  margin-right: 10px;
}

.slider .projectNumbers {
  position: absolute;
  right: 20px;
}

/* IMAGES */



/* MAP */
.carte{
  width: 100vw;
  height: 250px;
  padding: 0;

}

.myMap{
  position:relative;
  width:100vw;
  height:250px;
}

footer{
  padding: 0 20px 0 20px;
}

footer ul li{
  list-style: none;
  text-align: center;
}

footer .profil li{
  margin-bottom: 20px;
}