
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

#myMap {
  display:none;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  display: none;
}

* {
  padding: 0;
  margin: 0;
}


/*   FONTS  */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:500,600');

.nav {
  margin: 70px 0 40px 0;
  font-family: 'Montserrat';
  font-size: 26px;
  font-weight: 600;
}

body {
  width: 375px;
  color: #3e6949;
  font-size: 18px;
  font-family: 'Libre Baskerville';
  font-weight: 400;
}

header {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
}

header a img {
  position: absolute;
  top: 0;
  right: 0;
}

nav {
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}

nav ul li {
  margin: 0 0 50px 0;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #3e6949;
  font-size: 22px;
}

nav.open {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1;
}

nav.close {
  opacity: 0;
}

main {
  padding: 0 20px 0 20px;
}

.slider {
  position: relative;
  height: 400px;
  background-color: #7fc490;
}

.slider .slide {
  position: absolute;
}

.slider .controls {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.slider .prev {
  margin-right: 10px;
}

.slider .projectNumbers {
  position: absolute;
  right: 0;
}
