* {
  padding: 0;
  margin: 0;
}

// Fonts
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville|Montserrat:500,600');

// Variables
@import 'variables';
$duration : .7s;
$base: 1.8;
$height: 1.5;

body {
  color: #3e6949;
  font-size: 18px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  width: 100vw;
}


// hamburger
.menu {
  position: relative;
  width: 45px;
  height: 30px;
}

.hamb {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
  width: 100%;
  z-index: 2;
  & span {
    background: #3c6a48;
    height: 5px;
    position: absolute;
    right: 0;
    transition: .25s ease-in-out;
    &:first-child {
      width: 65px / $base;
      top: 0;
      transition-delay: .5s;
      &.open {
        width: 0%;
        transition-delay: 0s;
      }
    }
    &:nth-child(2) {
      width: 33px / $base;
      top: 17px / $height;
      transition-delay: .625s;
      &.open {
        width: 0%;
        transition-delay: .125s;
      }
    }
    &:nth-child(3) {
      width: 52px / $base;
      top: 34px / $height;
      transition-delay: .75s;
      &.open {
        width: 0%;
        transition-delay: 0.25s;
      }
    }
  }
}

.cross {
  position: absolute;
  top: 5px;
  right: 0;
  height: 100%;
  width: 100%;
  transform: rotate(45deg);
  z-index: 2;
  span {
    &:nth-child(1) {
      background: #3c6a48;
      height: 0%;
      width: 5px;
      position: absolute;
      top: -4px;
      right: 23px;
      transition: .25s ease-in-out;
      transition-delay: 0s;
      &.open {
        height: 52px / $base;
        transition-delay: .625s;
      }
    }
    &:nth-child(2) {
      background: #3c6a48;
      width: 0%;
      height: 5px;
      position: absolute;
      right: 11px;
      top: 8px;
      transition: .25s ease-in-out;
      transition-delay: .25s;
      z-index: 1;
      &.open {
        width: 52px / $base;
        transition-delay: .375s;
      }
    }
  }
}

.landing{
  position: relative;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.landing:after{
  content: '';
  position: absolute;
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .7));
  height: 250px;
  bottom: 0;
  width: 100%;
}

.title__big{
  padding-bottom: 40px;
  bottom: 0;
  right: 20%;
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  color: #fff;
  font-weight: 600;
  z-index: 1;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, .4);
}

.title__small {
  margin: 70px 0 40px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
}

.carte .title__small{
  padding: 0 20px 0 20px;
}

p{
  margin-bottom: 20px;
}

section p:last-child{
  margin-bottom: 0;
}

.site__header {
  a {
    padding: 0 10px;
    width: 35px;
    height: 30px;
  }
}

.site__header .button__header{
  height: 70px;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
  position: fixed;
  width: 100vw;
}

.site__header a:hover{
  text-decoration: underline;
}

.site__header .button__menu{
  margin-right: 20px;
}

.site__header .button__menu img{
  width: 130%;
}


.site__header .logo img{
  top: 20px;
  left: 10px;
  width: 40px;
}

nav {
  top: 0;
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  opacity: 0;
  z-index: 2;
  font-family: 'Montserrat', sans-serif;
  display: none;
  position: fixed;
  transition: opacity 0.5s;
}

nav ul li {
  margin: 0 0 50px 0;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #3e6949;
  font-size: 22px;

}

nav.open {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
}

nav.close {
  opacity: 0;
}

.title__big .hide{
  display: none;
}


section {
  padding: 0 20px 0 20px;
}

.landing{
  z-index: -1;
  background-image: url('../img/landing_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -335px;
  height: 100vh;
}

.col--right {
  float: none;
}

.concept{
  div {
    margin: 0 auto;
    width: 450px;
  }

  &:after{
    content: '';
    background: url('../img/seeds.jpg');
    background-size: cover;
    display: block;
    height: 300px;
    width: 100vw;
    left: -20px;
    position: relative;
  }
}

.membre:after{
  content: '';
  background: url('../img/hand_seed.jpg');
  background-size: cover;
  background-position-x: -150px;
  display: block;
  height: 300px;
  width: 100vw;
  left: -20px;
  position: relative;
}

  .concept ul li{
    list-style: none;
    margin-left:30px;
    margin-bottom: 30px;
    position: relative;
  }

  .concept ul li:before{
    content:'—';
    position: absolute;
    left: -30px;
  }


.slider {
  position: relative;
  height: 360px;
  background-color: rgba(127, 196, 144, .3);
  margin: 35px 0;

    display: flex;
    justify-content: center;
    align-items: center;

}

.slider .slider__el {
  position: absolute;
  //height: 50%;
  justify-content: center;
  display: none;
  //margin-top: 20px;
}

.slider .slider__el.active {
  display: flex;
  padding: 0 20px 0 20px;
}

.slider .slider__el--controls {
  position: absolute;
  width: 100%;
  bottom: 10px;
  display: flex;
  justify-content: center;
}

.slider .slider__el--controls a svg{
  width:30px;
  height: 30px;
}

.slider .slider__el--controls a svg:hover{
  fill: #3e6949;
}

.slider .prev {
  margin-right: 20px;
}

.slider .slider__el--projectNumbers {
  position: absolute;
  right: 20px;
}

form{
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.form-group{
  margin-top: 20px;
  text-align: center;
}

.form-group input{
  width: 100%;
  outline: none;
  height: 20px;
  font-size: 14px;
}

.form-label {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #3e6949;
  margin: 0;
  display: block;
  opacity: 1;
  text-align: right;
  text-transform: uppercase;
  margin-right: 40px;
  -webkit-transition: .333s ease top, .333s ease opacity;
  transition: .333s ease top, .333s ease opacity;
}
.form-control {
  border-radius: 0;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
}

.form-control::placeholder{
  font-size: 14px;
}

.form-control:focus {
  box-shadow: none;
  border-color: #3e6949;
}
.js-hide-label {
  opacity: 0;
}
.js-unhighlight-label {
  color: #999;
}

.btn-start-order {
  width: 70px;
  background: 0 0 #ffffff;
  border: 1px solid #3e6949;
  border-radius: 50px;
  color: #3e6949;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: inherit;
  margin: 30px 0;
  padding: 7px 7px;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
}
.btn-start-order:hover,.btn-start-order:active, .btn-start-order:focus {
    color: #ffffff;
    background-color: #3e6949;
}

.contact__el{
  list-style: none;
  margin-bottom: 15px;
}

.contact__el a{
  color: #3e6949;
  text-decoration: none;
  padding-bottom: 2px;
  border-bottom: 1px solid #3e6949;
}

.button{
  width: 100%;
  text-align: center;
}

.btn_edenia{
  width: 150px;
  margin: 20px 0;
  border-radius: 50px;
  border: 1.5px solid #3e6949;
  color: #3e6949;
  padding: 7px;
  background-color: transparent;
  outline: none;
  transition: color 0.5s;
  font-size: 18px;
}

.btn_edenia:hover{
  color: #ffffff;
  background-color: #3e6949;
}


/* MAP */
.carte{
  width: 100vw;
  height: 350px;
  padding: 0;

}

.myMap{
  position:relative;
  width:100vw;
  height:250px;
  left: -20px;
}

.footer{
  font-family: "Montserrat", sans-serif;
  background-color: rgba(127, 196, 144, .3);
  color: rgba(127, 196, 144, 1);
  margin-top: 40px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footer__el{
  list-style: none;
}

.footer__el a {
  color: rgba(127, 196, 144, 1);
  text-decoration: underline;
}

.footer__el a:hover{
  color: #3e6949;
}



@media (min-width: 768px) {
  .landing{
    background-position-x: 0;
    background-size: cover;
  }

  .col--small{
    width: 450px;
  }

  .clear{
    clear: both;
  }


  .concept{
    padding: 0;
      &:after{

        left:0;
        height: 500px;
        background-size: cover;
        margin-bottom: 70px;
    }
  }

  .concept--el{
  }

  .philosophie{
    margin: 0 auto;
  }

  .slider{
    height: 340px;
  }

  .slider{
    width: 60%;
    margin: 30px auto;
  }
  .slider .slider__el p{
    width: 80%;
    margin: 0 auto;
  }

  .borne{

    margin: 0 auto 70px auto;
  }

  .myMap{
    height: 300px;
    left: 0;
  }

  .membre{
    margin: 0 auto;

    h3, p {
      width: 450px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .membre:after{
    width: 100vw;
  }

  .membre:after{
    background-position-y: -85px;
    left: 0;
  }

  .carte h3{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
  .carte__membre {
    padding: 0;
  }

  .form{
    width: 450px;
    margin: 0 auto;
  }

  .form .form-group input{
    width: 100%;
    height: 30px;
    font-size: 18px;
  }

  .form .form-group input::placeholder{
    font-size: 18px;
  }

  .contact{
    margin: 0 auto;
  }

  .dwl_app{
    margin:0 auto;
  }
}

@media (min-width: 1024px) {
  .col {
    &--right {
      float: right;
    }
  }
  body {
    font-size: 22px;
  }
  section{
    padding: 0;
  }

  .landing{
    background-position-x: 0;
    background-size: cover;
  }

  .title__big{
    font-size: 60px;
  }

  .concept {
    margin: 0 auto;
    background-image: url('../img/imageDeco-1.png'), url('../img/imageDeco-2.png'), url('../img/imageBackground-1.png');
    background-position: right top, 0 565px, 0 693px;
    background-repeat: no-repeat;
    background-size: auto, auto, contain;

    div {
      width: 800px;
      margin: 0 auto;

      * {
        width: 450px;
      }
    }

    &:after {
      content: '';
      display: table;
      background-position-y: -215px;
      height: 500px;
      clear: both;
    }
  }

  .title--map {
    position: absolute;
    z-index: 2;
    top: 0;
    margin: 20px;
    margin-top: 40px;
    padding: 0;
  }

  .slider{
    margin: 30px 0 30px 200px;
    height: 280px;
  }
  .carte__membre{
    height: 700px;
    width: 100%;
  }

  .carte{
    float: left;
    width: 60%;
    height: 100%;
    position: relative;
  }

  .myMap{
    width: 100%;
    height: 100%;
  }

  .membre{
    width: 40%;
    float: right;
    height: 100%;
    box-sizing: border-box;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background: #3e6949;
    color: rgba(255, 255, 255, 1);
    position: relative;

    & p, h3{
      width: 400px;
    }

    &:before {
      content:'';
      display: block;
      height: 50px;
      width: 50px;
      background: #3e6949;
      position: absolute;
      left: -25px;
      top: calc(50% - 40px);
      transform: rotate(45deg);
    }
  }


  .membre:after {
    display: none;
  }

  .membre .title__small{
    margin: 0 auto;
  }
  .membre p{
    padding-top: 20px;
    margin: 0 auto;
    font-size: 20px;
  }

  .form {
    width: 400px;
    ::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .form-group input{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);

  }
  .form-group label{
    font-size: 17px;
    color: rgba(255, 255, 255, 0.9);
  }



  .philosophie{
    width: 450px;
  }

  .borne{
    padding-bottom: 70px;
    height: 750px;
    width: 100%;
    margin: 0 auto;
    background-image: url("../img/imageBackground-2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin-top: 70px;
  }

  .borne--el{
    width: 450px;
    margin: 0 auto;
  }
  .borne p{
    margin-top: 20px;
  }

.contact{
  width: 450px;
  margin-top: 90px;
}

  .dwl_app{
    width: 100%;
    background-image: url('../img/imageDeco-3.png'), url('../img/imageDeco-4.png');
    background-position: left, right 400px;
    background-repeat: no-repeat;
    & .dwl_app--el{
      width: 450px;
      margin: 0 auto;
    }
    &:after{
      content: '';
      display: block;
      height: 600px;
      margin-top: 50px;
      background-image: url('../img/imageApp.jpg');
      background-repeat: no-repeat;
      background-position: center;
    }
  }
}

footer{
  margin-top: 100px;
}

@media (min-width: 1200px) {
  .slider{
    height: 310px;
    width: 50%;
    max-width: 600px;
  }

  .membre:after {
    background-position-y: -135px;
  }
}

@media (min-width: 1500px) {
  .membre:after {
    background-position-y: -230px;
  }
}

@media (min-width: 1800px) {
  .membre:after {
    background-position-y: -265px;
  }
}