@import url(https://fonts.googleapis.com/css?family=Nunito);@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Libre Baskerville";
  src: url("../fonts/LibreBaskerville-Italic.ttf");
  font-style: italic;
}

.title {
  font-family: 'Montserrat', sans-serif;
  color: #28453c;
  margin: 0;
  font-size: 30px;
}

.title--big {
  font-size: 60px;
}

.title--small {
  font-size: 20px;
}

.title--center {
  text-align: center;
}

.title--light {
  font-weight: 300;
}

.title__plantation {
  padding-top: 30px;
  margin-bottom: 50px;
}

.text {
  font-family: 'Libre Baskerville';
  color: #28453c;
  font-size: 25px;
}

.text--italic {
  font-style: italic;
}

.text--light {
  font-weight: 300;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

body {
  position: relative;
  margin: 0;
  background: #fff;
}

.homeBody {
  background: url("../img/fond-potager-feuille1-bottom.png") no-repeat bottom right 2%, url("../img/fond-potager-feuille2-bottom.png") no-repeat bottom right 8.8%, url("../img/fond-potager-bottom.png") no-repeat bottom right, #fff;
  background-size: 12.8%, 11%, 65%;
  overflow: hidden;
  height: 100vh;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.hamb {
  float: right;
  position: relative;
  margin-top: 50px;
  margin-right: 50px;
  width: 65px;
  height: 50px;
  z-index: 2;
}

.hamb__bar {
  width: 52px;
  height: 7px;
  margin-bottom: 10px;
  background: #3c6a48;
  position: absolute;
  top: 34px;
  right: 0;
  /*    &.close {
      animation: hambBar3Anim $duration linear reverse forwards;
    }*/
}

.hamb__bar.open {
  -webkit-animation: hambBar3Anim 0.7s linear forwards;
          animation: hambBar3Anim 0.7s linear forwards;
}

.hamb__bar--small {
  width: 33px;
  height: 7px;
  margin-bottom: 10px;
  background: #3c6a48;
  position: absolute;
  top: 17px;
  right: 0;
}

.hamb__bar--small.open {
  -webkit-animation: hambBar2Anim 0.7s linear forwards;
          animation: hambBar2Anim 0.7s linear forwards;
}

.hamb__bar--big {
  width: 65px;
  height: 7px;
  margin-bottom: 10px;
  background: #3c6a48;
  position: absolute;
  top: 0;
  right: 0;
}

.hamb__bar--big.open {
  -webkit-animation: hambBar1Anim 0.7s linear forwards;
          animation: hambBar1Anim 0.7s linear forwards;
}

/*@keyframes hambBar1Anim {
  0% {width: 65px}
  25% {width: 7px; transform: translateX(-25px)}
  50% {width: 7px; transform: translate(-25px, 17px)}
  75% {width: 65px; transform: translateY(17px)}
  100% {width: 65px; transform: translateY(17px) rotate(45deg)}
}

@keyframes hambBar2Anim {
  0% {width: 33px}
  25% {width: 7px; transform: translateX(-25px)}
  50% {width: 7px; transform: translateX(-25px)}
  75% {width: 65px; transform: translateX(0)}
  100% {width: 65px; transform: translateX(0) rotate(135deg)}
}

@keyframes hambBar3Anim {
  0% {width: 52px}
  25% {width: 7px; transform: translateX(-25px)}
  50% {width: 7px; transform: translate(-25px, -17px)}
  75% {width: 65px; transform: translateY(-17px)}
  100% {width: 65px; transform: translateY(-17px) rotate(45deg)}
}

@keyframes navAnimation {
  0% {width: 0; height: 0}
  100% {width: 100vw; height: 100vh}
}*/
.nav {
  display: none;
  width: 100vw;
  height: 100vh;
  /*&.close {
    animation: navAnimation 0.750s linear reverse forwards;
  }*/
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  z-index: 1;
  background: url("../img/fond-nav-feuille-bottom.png") no-repeat bottom right, url("../img/fond-nav-bottom.png") no-repeat bottom right, url("../img/fond-nav-feuille-top.png") no-repeat top left 4%, url("../img/fond-nav-top.png") no-repeat top left, #fff;
  background-size: 20%, 72%, 17%, 81%;
}

.nav.open {
  display: block;
}

.nav__list {
  margin: 80px auto 0;
}

.nav__list.open {
  display: block;
}

.nav__list.close {
  display: none;
}

.nav__el {
  margin-bottom: 40px;
}

.nav__el:last-child {
  margin-bottom: 0;
}

.nav__link {
  font-size: 60px;
  color: #1d1d1b;
  text-decoration: none;
}

.meteo__container {
  position: absolute;
  left: 136px;
  top: 0;
  width: 500px;
  height: 200px;
  padding: 20px 40px;
  background: red;
}

.potager {
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.potager__list {
  display: block;
  position: absolute;
  top: 227px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 1094px;
  height: 668px;
  background: url("../img/potager-parcelle-fond.png") no-repeat;
  background-size: cover;
}

.potager__el {
  position: absolute;
  padding: 25px 35px;
}

.potager__el:first-child {
  top: 3px;
  right: 359px;
}

.potager__el:nth-child(2) {
  top: 83px;
  right: 174px;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
}

.potager__el:nth-child(3) {
  top: 178px;
  right: 92px;
}

.potager__el:nth-child(4) {
  top: 145px;
  left: 347px;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

.potager__el:nth-child(5) {
  top: 226px;
  left: 476px;
}

.potager__el:nth-child(6) {
  top: 292px;
  right: 327px;
  -webkit-transform: rotate(14deg);
          transform: rotate(14deg);
}

.potager__el:nth-child(7) {
  top: 321px;
  left: 57px;
  -webkit-transform: rotate(-6.5deg);
          transform: rotate(-6.5deg);
}

.potager__el:nth-child(8) {
  top: 331px;
  left: 233px;
}

.potager__el:last-child {
  bottom: 162px;
  left: 340px;
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

.potager__link {
  color: #000;
}

.parcelle {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.6);
}

.parcelle__list {
  width: 80%;
  height: 80%;
  border-radius: 30px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
          box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.parcelle__el {
  width: 200px;
  height: 200px;
  border-radius: 25px;
  background: #9c7367;
  margin: 50px 50px 0 50px;
}

.parcelle__btn {
  position: absolute;
  top: 127px;
  left: 157px;
  z-index: 2;
}

.plantation {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 424px;
  width: 100%;
  overflow: scroll;
}

.plantation__list {
  height: 100%;
  width: 2260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.plantation__el {
  float: left;
  height: 100%;
  margin: auto;
}

.plantation__el .active {
  background: #9c7367;
}

.plantation__img {
  height: 247px;
}

.plantation__link {
  position: absolute;
  bottom: 45px;
  left: 82px;
  color: #3c6a48;
  font-size: 25px;
  font-family: 'Montserrat';
}

.btn--light {
  border: solid 2px #38a66a;
  padding: 15px 30px;
  border-radius: 30px;
}

.btn__close {
  border: none;
  background: none;
  font-size: 30px;
}

.btn__planter {
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 20px 30px;
  border-radius: 37px;
  background: #38a66a;
  font-size: 30px;
  color: #fff;
  border: none;
}

.btn__planter--full {
  background: gray;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
  display: none;
}

.hide {
  display: none;
}

td {
  width: 200px;
}

.seeds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.seeds__unit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-flex: 1;
      -ms-flex: 1 300px;
          flex: 1 300px;
  margin: 2%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 2px;
}

.seeds__unit ul {
  list-style: none;
  padding: 0;
}
